{% extends 'base.html' %}

{% block title %}Sales{% endblock title %}


{% block content %}
    {% if add_msg %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ add_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
    {% endif %}

    
    <h1>Sales</h1>
    
    {% if graph %}
    <img class="img" src="data:image/png;base64, {{ graph | safe }}" />"
        
    {% endif %}

{% endblock %}